[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
joblib = "*"
uvicorn = {extras = ["standard"], version = "*"}
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
